<h2>Bookmarks</h2>
<form action="/add-bookmark" method="post">
<label for="name">Add bookmark:</label>
<input type="text" name="bookmark" id='bookmark'>
<p></p>
<input type="submit" value="Submit">
</form>
<p>
<% Bookmark.all.each do |b|%> 
<p><%=b%></p>
<% end %></p>
